<!DOCTYPE html>
<html>
  <head>
    <!-- 文字エンコードをUTF-8に指定 -->
    <meta charset="utf-8">
    <!-- レンダリングを最新に指定 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 拡大を禁止 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>メニュー詳細説明</title>

    <!-- Semantic UI を読み込む -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!-- Vue.js を読み込む -->
    <script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>

    <!-- 共通のCSSファイルを読み込む -->
    <link rel="stylesheet" href="./common/style.css">
  </head>
  <body>
    <!-- Vue.jsで読み込む -->
    <div id="app">
        <common-menu current="home"></common-menu>

      <div class="ui main container">
        <!-- 基本的なコンテンツはここに記載する -->
        <div class="ui segment">
          <div class="ui header">
            <h1>メニュー詳細</h1>
          </div>
          <div class="sub header">

          </div>
        </div>
        <div class="ui segment">
            <div class="ui header">
                <h2>
                    <div class="content">
                        メニュー名　{{selectMenu.menu2}}

                    </div>
                    
                </h2>
            </div>
            <div>
                <div class="training_explanation_container" v-if="selectMenu.menu2=='チェストプレス'">
                    <p><ol><li>チェストプレスのマシンに深く座り、肘が90度くらいになる手幅でバーを握る。</li>
                        <li>拳の高さが大胸筋下部のあたりになるよう、シートの高さを調節する。</li>
                        <li>肩を下に落として肩甲骨を後ろに寄せた状態をキープし、息を吐きながらバーを前に押す。</li>
                        <li>息を吸いながら元の姿勢に戻る。</li>
                        <li>2~3を繰り返す。</li></ol></p>
                    
                </div>
                <div class="training_explanation_container" v-if="selectMenu.menu2=='バックエクステンション'">
                    <p><ol><li>ベンチの高さとパッドの位置を調節する。ベンチにうつ伏せになり、足首をパッドの下に入れる。上体を折り曲げ、両手を胸の前で組み、肩甲骨を寄せて胸を張る。下背部に自然なアーチをつくる。</li>
                    <li>息を吸いながら上体をゆっくりと上げる。</li>
                    <li>上体が水平になり、体幹がまっすぐになったら、2秒ほどその姿勢を保持する。</li>
                    <li>息を吐きながらゆっくりと元の姿勢に戻る。</li>
                    <li>2~4を繰り返す。</li></ol></p>
                        
                </div>
                <div class="video_container">
                <iframe class="video_frame" width="560" height="315" src="https://www.youtube.com/embed/ZaT07OtS2z0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
      </div>

    </div>

    <!-- APIのURLを読み込むJavaScriptファイル -->
    <script src="./common/config.js" charset="utf-8"></script>
    <script src="./common/menu.js" charset="utf-8"></script>

    <!-- 各ページで使うJavaScriptファイルはこの行より下で読み込む -->
    <script src="./js/training_detail2.js" charset="utf-8"></script>
  </body>
</html>
